[Unit]
Description=Tailscale-UI

[Service]
ExecStart=/usr/local/bin/tailscale-ui
Restart=on-failure
SyslogIdentifier=tailscale-ui

[Install]
WantedBy=default.target